# ____Please Don't Ever Reveal Your Bot Token In Github Just Use Your Token At Runtime As Environment Variable____

DATABASE_URL=https://files.catbox.moe/svxp8v.mp4
BOT_TOKEN=7343638705:AAHsRee-86CuF604GHR3n9fb0ay0ujwtCZQ
OWNER_ID=5847828234
PREFIX=?
