# ____Please Don't Ever Reveal Your Bot Token In Github Just Use Your Token At Runtime As Environment Variable____

DATABASE_URL=
BOT_TOKEN="8456978693:AAGwEnVcdzqwzVOR5wAohRXBy7_iz9m8JxU"
OWNER_ID="8456978693"
PREFIX=
